<form [ngClass]="{'gray-border': !may_edit, 'normal-border': may_edit && form.valid, 'invalid-border': may_edit && !form.valid}" [formGroup]="form">

  <ion-item color="primary">
    <ion-label lines="none">{{name}}</ion-label>
    <div slot="end">
      <ion-button color="secondary" (click)="collapse.toggle()">+</ion-button>
    </div>
  </ion-item>

  <div #collapse="ngbCollapse" (ngbCollapse)="true">
    <ion-item lines="inset">
      <ion-label>record uuid: {{ uuid?.value }}</ion-label>
      <ion-button *ngIf="record_private" slot="end" color="danger" (click)="undoPrivate()" [disabled]="!may_edit">Private</ion-button>
      <ion-button *ngIf="!record_private && may_edit" slot="end" color="light" (click)="makePrivate()">Not Private</ion-button>
    </ion-item>
    <ion-item lines="inset">
      <ion-label>dataset: {{ dataset_uuid }} ({{dataset_name}})</ion-label>
    </ion-item>

    <div *ngIf="may_view">

      <!-- Note: this *ngIf is required because gridstack needs some time to be initialized I guess before it is added to the dom. -->
      <div *ngIf="data_available" class="ion-padding">
        <gridstack [options]="top_grid_options">
          <div empty-content>No fields</div>
        </gridstack>
      </div>

      <div #graph_plugin style="width:90%;height:250px;"></div>

      <div *ngIf="related_datasets && related_datasets.length > 0">
        <div formArrayName="related_records">
          <div *ngFor="let f of related_records_form_array?.controls; index as i">
            <record-edit
                [form]="castToFormGroup(f)"
                (remove)="deleteRelatedRecord(i)"
                [disabled]="!may_edit">
            </record-edit>
          </div>
          <div>
            <ion-item  lines="none">
              <ion-button id="add-related-record">Add Related Record</ion-button>
            </ion-item>
            <ion-popover trigger="add-related-record" [dismissOnSelect]="true">
              <ng-template>
                <ion-content>
                  <ion-list>
                    <ion-item *ngFor="let related_dataset of related_datasets" lines="none"
                    [button]="true" [detail]="false" (click)="addRelatedRecord(related_dataset.dataset_uuid)"
                    >{{ related_dataset.name }}</ion-item>
                  </ion-list>
                </ion-content>
              </ng-template>
            </ion-popover>
          </div>
          <div>
            <ion-item lines="none">
              <ion-button [attr.id]="'link-existing-record-' + uuid?.value" (click)="loadRecordsAvailableToLink()">Link Existing Record</ion-button>
            </ion-item>
            <ion-modal [attr.trigger]="'link-existing-record-' + uuid?.value">
              <ng-template>
                <ion-header>
                  <ion-toolbar>
                    <ion-buttons slot="start">
                      <ion-button (click)="cancelLinkRecordModal()">Cancel</ion-button>
                    </ion-buttons>
                    <ion-title>Select a record to link</ion-title>
                  </ion-toolbar>
                </ion-header>
                <ion-content class="ion-padding">
                  <ion-item *ngIf="!records_available">
                    <ion-spinner></ion-spinner>
                  </ion-item>
                  <div *ngIf="records_available">
                    <ion-list>
                      <ion-item *ngFor="let record of records_to_link" lines="none"
                      [button]="true" [detail]="false" (click)="confirmLinkRecordModal(record.uuid)"
                      >{{ record.uuid }}</ion-item>
                    </ion-list>
                  </div>
                </ion-content>
              </ng-template>
            </ion-modal>
          </div>
        </div>
      </div>

    </div>

    <ion-item *ngIf="!is_top_level_record && !disabled">
      <ion-button (click)="remove.emit()" color="danger">Remove Record</ion-button>
    </ion-item>
  </div>

</form>
