<form class="ion-margin" [formGroup]="form" [ngClass]="{'gray-border': !may_edit, 'normal-border': may_edit && form.valid, 'invalid-border': may_edit && !form.valid}">
  <ion-item lines="inset">
    <ion-label>uuid: {{ form.get('uuid')?.value }}</ion-label>
  </ion-item>
  <ion-item lines="inset">
    <ion-label>Name: {{ form.get('name')?.value }}</ion-label>
  </ion-item>
  <ion-item lines="inset">
    <ion-label>Description: {{ form.get('description')?.value }}</ion-label>
  </ion-item>
  <div *ngIf="!is_file">
    <ion-item lines="inset">
      <ion-label>Value:</ion-label>
      <ion-input formControlName="value" [placeholder]="may_edit ? 'Enter value here...' : ''" [readonly]="!may_edit"></ion-input>
      <ion-note slot="error" *ngIf="form.get('value').hasError('pluginError')">{{ form.get('value').getError('pluginError') }}</ion-note>
    </ion-item>
    <ion-item lines="inset" *ngIf="value_after_plugins">
      <ion-label [innerHTML]="'Preview: ' + value_after_plugins | bypassDomSanitizer"></ion-label>
    </ion-item>
  </div>
  <div *ngIf="is_file">
    <ion-item lines="none">File:</ion-item>
    <div class="ion-margin-start">
      <ion-item *ngIf="file_name">
        <ion-label>{{file_name}}</ion-label>
        <ion-button (click)="downloadFile()"> Download </ion-button>
      </ion-item>
      <ion-item lines="none">
        <ion-label *ngIf="file_name">Change file:</ion-label>
        <ion-input type="file" (change)="onFileSelected($event)"> </ion-input>
      </ion-item>
      <div class="ion-margin-start" *ngIf="form.get('file_upload_progress_map') && file_upload_progress_map[file_uuid] && file_upload_progress_map[file_uuid] > 0">
        <p>Upload progress:</p>
        <mat-progress-spinner
          class="example-margin"
          color="primary"
          mode="determinate"
          [value]="file_upload_progress_map[file_uuid]"
        ></mat-progress-spinner>
      </div>
    </div>
  </div>
</form>
